.calculate{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px 70px; 
    background-image: url('/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} 


.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
}

.section {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin: 5px 0 2px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    font-size: 15px;
    padding: 10px 25px; 
    border: 0px; 
    border-radius: 30px;
    color: white;
    background-color: #646cff;
    margin: 0%;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 5px 5px rgba(92, 95, 151,0.75);
}

.result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ffe9;
}

.result h2, .result h3 {
    margin: 0;
}

.buttonSection{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}